@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css);
.header {
    display: block;
    padding: 30px 0;
    background-color: black;
    color: #ffffff;
}

.nav_block {
    width: 100%;
    max-width: 400px;
}

.nav {
    width: 100%;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color: beige;
}

.product_block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: auto;
    grid-gap: 15px;
    padding: 50px 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #6f42c1;
    padding: 25px 0;
    z-index: 10;
}

.footer_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.pagination {
    justify-content: center;
}

.pagination .active .page-link {
    background-color: #6f42c1 !important;
    border-color: #6f42c1 !important;
    color: white !important;
}

.page-link {
    color: black !important;
}

.card {
    position: relative;
}

.promotion_block {
    padding: 5px;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    row-gap:10px;
}

.sale, .hit {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.sale {
    background-color: darkred;
}

.hit {
    background-color: darkorange;
}

.card .btn-primary {
    color: #fff;
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.status {
    margin: 10px 0;
    font-size: 1rem;
    text-align: center;
}

.status_icon_in_stock {
    color: green;
}

.status_icon_no_stock {
    color: orange;
}

.delete_item {
    cursor: pointer;
}

.wrap {
    position: relative;
    padding-bottom: 200px;
    z-index: 1;
}

